#root{
  height: 100%
}
h1 {
  color: #000000;
  margin: 0;
}

.logbtn{
  margin-top: 2%;
}

.header{
  height: 10%;
  background-color: #fdfd89;
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px; 
  flex-direction: column;
  align-items: center; 
}

.search-section, .favorites-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.search-section {
  width: 60%;
  height: 80%;
}

.favorites-section {
  width: 60%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;  
}
.destination{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.countryTbl {
  display: flex;
  flex-direction: column;
  margin-top: 10px; 
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.tblRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;  /* Divider line between rows */
}

.tblCol {
  font-weight: bold;
  width: 40%;
  padding-right: 10px;
}

.desc {
  width: 60%;
  text-align: left;
  padding-left: 10px;
}



.search-controls, .sort-controls, .list-controls, .list-actions {
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.list-controls{
  display: flex;
  flex-direction: row;
}
.search-controls input, .list-controls input, .list-actions input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1%;
}

.lb{
  display: flex;
  align-items: center;
}

.page-actions{
  display: flex;
}
button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #fdff6d;
  color: #000000;
  cursor: pointer;
  margin-left: 1%;
  margin-right: 1%;
}

button:hover {
  background-color: #fce51c;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#map-section {
  height: 300px;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden; 
}

.map-container{
  height: 300px; 
  width: 100%;
  border-Radius: 8px; 
  margin-Top: 10px;
  overflow: hidden;
}

.list-container {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  padding: 5px 0;
}

.highlighted {
  background-color: rgb(102, 102, 102); 
  color: black; 
}

.favorites-section .list-controls {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.list-controls .list-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

textarea#description {
  resize: none; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
}

.list-controls .list-actions {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.user-list-container {
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
  width: 60%
}

.user-list-container h3 {
  margin-bottom: 10px; 
}

.authenticated-container{
  display: flex;
  flex-direction: column;
}

.radio-input{

  display: flex;
  align-items: center;

}

